.flex{
    display: flex;
}
.gap-2{
    gap: 20px;
}
.mr-5{
    margin-right: 50px;
}
.aic{
    align-items: center;
}
.green-circle{
    background: green;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 0 29px;
}

.orange-circle{
    background: orange;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-right:29px;
}

.pink-circle{
    background: pink;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-right: 49px;
}

@media (max-width: 1000px) {
    .rightsidenav{
        justify-content: center;
    }
}

@media (max-width: 423px) {
    .rightsidenav .EnableDM{
        font-size: 12px;
    }
    .form-switch {
        padding-left: 0;
    }
    .form-check {
        /* display: block; */
        /* min-height: 1.5rem; */
        padding-left: 5px;
        /* margin-bottom: .125rem; */
    }
}